* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: scroll
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin: 0;
    color: #1f2328;
    font-family: "Times New Roman", system-ui, -apple-system, 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
    align-items: center;
    padding: 1rem;
    background-color: #ffedd6cc;
    border-bottom: 3px solid goldenrod;
    min-height: 100px; /* Mindesthöhe setzen, falls nötig */

    .menu-container {
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        border: none;

        .menu {
            display: flex;
            flex-direction: column; /* Icon und Titel vertikal anordnen */
            align-items: center; /* Zentriert das Icon und den Titel */
            text-align: center; /* Zentriert den Text */
            margin-left: auto;
            border: none;

            .icon {
                border: none;
                width: 50px;
                height: auto;
            }

            .menu-title {
                border: none;
                color: goldenrod;
            }
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
        border: none;
        gap: 1rem; /* Fügt Abstand zwischen Logo und Text hinzu */

        .logo {
            border: none;
            width: 5rem;
        }
        .title {
            color: goldenrod;
            font-weight: 400;
            margin: 0;
        }
        .title2 {
            color: goldenrod;
            font-weight: 400;
            margin: 0;
        }
    }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}
img, div {
    box-sizing: border-box;
    width: 20%;
    margin: 8px;
    padding: 8px;
    border: 3px solid goldenrod;
}
