* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url('Hintergrund9.jpg');
    background-size: cover;
    background-position: center;
    color: #1f2328;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #ffedd6cc;
    border-bottom: 2px solid goldenrod;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 50px;
}

.banner {
    background-color: #ffedd6;
    color: goldenrod;
    padding: 15rem ;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 9rem;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 6px 6px goldenrod;
    font-family: "Tangerine", cursive;
    border-top: 2px solid goldenrod;
}
.banner p {
    margin: 0; /* Entfernt den Standardabstand */
    font-size: 80px; /* Schriftgröße für den Text */
}
.banner p c{
    margin: 0;
    font-size: 50px;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    z-index: 1100;
    /*filter: brightness(0) saturate(100%) invert(61%) sepia(23%) saturate(3317%) hue-rotate(353deg) brightness(95%) contrast(92%);*/
}

.title-group .title,
.title-group .subtitle {
    font-family: "Tangerine", cursive;
    font-weight: 1000;
    font-size: 30px;
    color: goldenrod;
}

.subtitle {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 20px; /* Schriftgröße des Slogans */
    color: goldenrod;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #ffedd6;
    box-shadow: -3px 0 6px goldenrod;
    padding: 2rem 1rem;
    transition: right 0.8s;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    list-style: none;
    margin: 60px auto;
}

.sidebar ul li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.sidebar ul li b {
    color: goldenrod;
    text-decoration: underline;
}

.sidebar ul li b:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.sidebar ul li a {
    color: goldenrod;
    text-decoration: none;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 1rem;
}

.submenu.active {
    display: block;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #ffedd6cc;
    max-width: 1000px;
    width: 100%;
    margin: 3rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid goldenrod;
}

.product-gallery h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    color: goldenrod;
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
}

.product {
    flex: 0 0 auto;
    width: 200px;
    text-align: center;
    margin: 1rem;
    color: goldenrod;
}

.product-image {
    max-width: 200px;
    border: 3px solid goldenrod;
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.product-image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contact-form {
    padding: 2rem;
    background: #ffedd6cc;
    border: 2px solid goldenrod;
    max-width: 800px;
    margin: 5rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-form h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: goldenrod;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: goldenrod;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 5px;
    border: 2px solid goldenrod;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-form button {
    padding: 0.8rem 2rem;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: #d4a017;
}
.Standort{
    padding: 2rem;
    background: #ffedd6cc;
    border: 2px solid goldenrod;
    max-width: 800px;
    margin: 5rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 100%;
    width: 100%;

}
.Standort h2{
    color: goldenrod;
    text-align: center;
}

.impressum {
    padding: 2rem;
    background: #ffedd6cc;
    border: 2px solid goldenrod;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.impressum h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: goldenrod;
}

.impressum p {
    font-size: 1rem;
    line-height: 1.6;
    color: goldenrod;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #ffedd6cc;
    border-top: 2px solid goldenrod;
    width: 100%;
    color: goldenrod;
}

/* Stil für das Produktdetail-Container */
.product-details {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffedd6cc;
    border: 2px solid goldenrod;
    max-width: 600px;
    margin: 5rem auto;
    color: goldenrod;
    width: 600px;
    text-align: center;

}
.product-details button {
    padding: 0.8rem 2rem;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkviolet;
}
